.ccontainer{
    padding: 4rem;
    margin: 2rem 0;
    border: 0.5rem  solid $color-secondary-dark;
    border-radius: 3rem;
    color: $color-white;
    
    > *
    {
        margin-bottom: 1rem;
    }
    :link,:visited{
    color: $color-secondary-dark;
    }
  
   .btn-space{
     margin-left: 4rem;
     padding:2rem;
   }

    //    font-size: $font-size-md;

    span{
        font-size: $font-size-lg;
        background-color: $color-primary-light;
    }
    
    .warn p{
        font-size:$font-size-md;
    }
    .wid-100{
        width: 100%;
        }
}
