.feature-card{
    width: 100%;
    height: 100%;
    background-color: $color-gray-light;
    padding: 2rem;
    margin-bottom: 3rem;
    &__desc{

        &__title{
            font: $font-medium $font-size-lg $font-primary;
        }
        &__body{
            font: $font-heavy $font-size-md $font-primary;
            color: $color-black;
        }
        ul 
        {
            list-style: circle;
        }
        li{
            margin-left: 4rem;
        }
    }
    &__image{
        width: 50%;
        height: 50%;
        //box-shadow: 7px 8px 7px -1px white;
       // border-radius: 4px;  
    }

}