.password-card{

    border-radius: 20px;
    height: 100%;
    padding: 2rem;

    &__header{
       
    background-color: $color-primary-dark;
    text-align:center;
    vertical-align: middle;
    margin-top: 3rem;
    font: $font-heavy $font-size-lg $font-primary;
    color:$color-white;
       
    }

    input{
    height: 3rem;
    width: 75%;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 14%;
    border-radius: 5px;

    }
    &__body{
        background-color: $color-primary-light;
        &__btn{
        background-color: $color-primary-darkest;
        color:$color-white;
        margin: 3rem 1.5rem 3rem 6rem;
        padding: 1rem;
        width: 10rem;
        }
        a{
            color: $color-white;
            &:hover{
            color: $color-primary-darkest
            }
        }
        .fas{
            margin-left:-3rem;
        }
    }
    
}

